.modal {
  top: 1rem !important;
  width: 60vw !important;
}

.form-wrapper {
}

.quill {
  margin-bottom: 2.5rem;
  height: 500px;
}

.btn {
  background: var(--light-yellow) !important;
  color: var(--black) !important;
}

.header {
  min-height: 2rem;
  margin-bottom: 1rem;
}

.m-0 {
  margin: 0 !important;
}

.tags-input {
  padding: 0 11px;
  flex: 3;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.tags-input .borderless-tags-input:focus + .tags-input {
  border-color: #4096ff;
}

.variants {
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(40%));
  grid-gap: 1rem;
}
