.modal {
  top: 1rem !important;
}

.form-wrapper {
  height: 80vh;
  width: 100%;
  overflow: scroll;
}

.quill {
  margin-bottom: 2.5rem;
  height: 500px;
}

.btn {
  background: var(--light-yellow) !important;
  color: var(--black) !important;
}

.header {
  min-height: 2rem;
  margin-bottom: 1rem;
}

.m-0 {
  margin: 0 !important;
}
