.modal {
  top: 1rem !important;
  width: 60vw !important;
}

.form-wrapper {
}

.quill {
  margin-bottom: 2.5rem;
  height: 500px;
}

.btn {
  background: var(--light-yellow) !important;
  color: var(--black) !important;
}

.header {
  min-height: 2rem;
  margin-bottom: 1rem;
}

.m-0 {
  margin: 0 !important;
}

.tags-input {
  padding: 0 11px;
  flex: 3;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.tags-input .borderless-tags-input:focus + .tags-input {
  border-color: #4096ff;
}

.variants {
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(40%));
  grid-gap: 1rem;
}

.preview {
  position: relative;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  transition: all 0.2s ease-in-out;
}

.preview.main {
  border: 3px solid var(--light-yellow);
}

.preview:hover .preview-btn {
  opacity: 1;
  visibility: visible;
}

.preview-img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 8px;
}

.preview-btn {
  position: absolute;
  bottom: 8px;
  right: 8px;
  padding: 5px 6px 4px 6px;
  border-radius: 10rem;
  border: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
