* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #010101;
  --white: #ffffff;
  --light-grey: #fef0ea;
  --light-yellow: #edcf5d;
}

.ant-menu-item {
  margin: 0 !important;
  font-weight: 600;
}

.ant-menu-item-icon {
  font-size: 1rem !important;
}

.ant-menu-item-selected {
  color: var(--black) !important;
  background-color: var(--light-grey) !important;
}

.ant-badge-count {
  background-color: var(--light-yellow) !important;
}

.ant-form-item-explain-error {
  margin: 0.25rem 0 0.5rem;
}
